.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# not added to git

# Mac Files
.DS_Store
/.DS_Store


# MAC
backend/data/02_data_preprocessed/*
backend/data/03_data_outputs/*
backend/data/04_trained_models/*


# Windows
backend\\data\\02_data_preprocessed\\*
backend\\data\\03_data_outputs\\*
backend\\data\\04_trained_models\\*
